/* .card {
    background-color: azure;
    width: 200px; 
    height: 300px; 
    border: 1px solid black;
    border-radius: 5px;
    font-family: sans-serif;
    margin: 10px;
    padding: 10px; 
    text-align: center; 
    display: inline-block;
    vertical-align: top; 
    box-sizing: border-box; 
} */

/* .card img {
    width: 100%;    
    max-height: 150px;
    object-fit: cover; 
    display: block;
    margin: 0 auto;
    border-radius: 5px;
} */
/* Footer container */
/* .footer {
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0; 
    position: fixed; 
    bottom: 0;
    width: 100%; 
    background-color:azure; 
    color: black; 
  
} */


/* .gallery-card {
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  height: 200px; 
  object-fit: cover; 
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
 */





